<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::Layout( ~{::section})}">
<head>
<meta charset="UTF-8">
<title>Registration</title>

</head>
<body>

	<section>
		<div class="container p-5">
			<div class="row">
				<div class="col-md-5 offset-md-4">
					<div class="card point-card">
						<div class="card-body">
							<p class="fs-4 text-center">User Registration</p>
							<div th:if="${session.msg}" class="alert alert-info" role="alert">
								<p th:text="${session.msg}"></p>
							</div>

							<form action="/createUser" method="post">
								<div class="mb-3">
									<label class="form-label">Full Name</label> <input
										name="fullname" type="text" class="form-control" required>
								</div>
								<div class="mb-3">
									<label class="form-label">Email Address</label> <input
										name="email" type="email" class="form-control" required>
								</div>
								<div class="mb-3">
									<label class="form-label">Password</label> <input
										name="password" type="password" class="form-control" required>
								</div>
								<button type="submit" class="btn bg-danger text-white col-md-12">Register</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
